body {
    background-color: #FF6CB3;
    color: white;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 0px;
}

h1 {
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 500;
}

p {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
}

label {
    font-size: 17px;
    font-weight: 300;
    opacity: 0.7;
}