@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: #FF6CB3;
    color: white;
    font-family: "Quicksand", "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 0px;
}

.logo-text {
    width: 150px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 500;
}

label {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}